In [9]:
import pandas as pd

# Load the first TSV file
df1 = pd.read_csv('title.basics.tsv', sep='\t')

# Load the second TSV file
df2 = pd.read_csv('title.ratings.tsv', sep='\t')

<ipython-input-9-5010844ce90b>:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('title.basics.tsv', sep='\t')

In [10]:
df1.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

In [21]:
df1[df1['tconst'] == 'tt0050083']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
49179,tt0050083,movie,12 Angry Men,12 Angry Men,0,1957,\N,96,"Crime,Drama"

In [11]:
df2.columns

Index(['tconst', 'averageRating', 'numVotes'], dtype='object')

In [22]:
df2[df2['tconst'] == 'tt0050083']

          tconst  averageRating  numVotes
31100  tt0050083            9.0    872287

In [20]:
df1['genres'].unique()

array(['Documentary,Short', 'Animation,Short', 'Animation,Comedy,Romance',
       ..., 'Biography,Crime,Fantasy', 'Mystery,Reality-TV,Thriller',
       'Musical,Reality-TV,Talk-Show'], dtype=object)

In [12]:

# Merge the DataFrames on the common column 'id'
merged_df = pd.merge(df1, df2, on='tconst')

# Inspect the merged DataFrame
print("\nMerged DataFrame:")
print(merged_df.head())

Merged DataFrame:
      tconst titleType            primaryTitle           originalTitle  \
0  tt0000001     short              Carmencita              Carmencita
1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
2  tt0000003     short          Pauvre Pierrot          Pauvre Pierrot
3  tt0000004     short             Un bon bock             Un bon bock
4  tt0000005     short        Blacksmith Scene        Blacksmith Scene

  isAdult startYear endYear runtimeMinutes                    genres  \
0       0      1894      \N              1         Documentary,Short
1       0      1892      \N              5           Animation,Short
2       0      1892      \N              5  Animation,Comedy,Romance
3       0      1892      \N             12           Animation,Short
4       0      1893      \N              1              Comedy,Short

   averageRating  numVotes
0            5.7      2058
1            5.6       277
2            6.5      2026
3            5.4       179
4            6.2      2793

In [17]:
movies_df = merged_df[merged_df['titleType'] == 'movie']

In [23]:
# Sort the DataFrame by the 'rating' column in descending order
sorted_df = movies_df.sort_values(by=['averageRating', 'numVotes'], ascending=False)

# Select the top 250 movies
top_250_movies = sorted_df.head(250)

In [24]:
# Print the top 250 movies
print(top_250_movies)
## no 5 -> tt0050083

             tconst titleType                                primaryTitle  \
1030146  tt28514938     movie                                      Murivu
893034   tt21139706     movie  Prince Oak Oakleyski and News Interviewers
890442   tt21065098     movie     Prince Oak Oakleyski Starring Supremacy
513923   tt10925174     movie                           Petersburg's tram
1418578   tt9052412     movie                                  Magnificus
...             ...       ...                                         ...
1083113  tt32063825     movie                                       Rouge
226538    tt0398308     movie                  Sana, bukas pa ang kahapon
755827   tt15614514     movie                                Amche Samsar
793289   tt16790672     movie                              Freedom Street
801099   tt17077146     movie                            Rajdrohi Rajneta

                                      originalTitle isAdult startYear endYear  \
1030146                                      Murivu       0      2024      \N
893034   Prince Oak Oakleyski and News Interviewers       0      2022      \N
890442      Prince Oak Oakleyski Starring Supremacy       0      2023      \N
513923                            Petersburg's tram       0      2007      \N
1418578                                  Magnificus       0      2021      \N
...                                             ...     ...       ...     ...
1083113                                       Rouge       0      2024      \N
226538                   Sana, bukas pa ang kahapon       0      1983      \N
755827                                 Amche Samsar       0      2021      \N
793289                               Freedom Street       0      2022      \N
801099                             Rajdrohi Rajneta       0      2022      \N

        runtimeMinutes                         genres  averageRating  numVotes
1030146            102                       Thriller           10.0       365
893034              60    Documentary,News,Reality-TV           10.0        58
890442              60                             \N           10.0        31
513923              74            Documentary,History           10.0        27
1418578             70  Biography,Documentary,History           10.0        27
...                ...                            ...            ...       ...
1083113             90                    Documentary            9.8         9
226538             106                          Drama            9.8         8
755827              \N                         Family            9.8         8
793289             114                    Documentary            9.8         8
801099              47                    Documentary            9.8         8

[250 rows x 11 columns]